* {
  color: white;
}
.details {
  & {
    border-right: 2px solid #a6a6a6;
  }
  @media (max-width: 767px) {
    border-right: none;
  }
  img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0px auto 20px;
  }
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
  }
  .info {
    span:not(.value) {
      font-weight: 800;
      font-size: 20px;
    }
    .value {
      font-weight: 400;
      font-size: 20px;
    }
  }
}

.buttons {
  & {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  button {
    border: 1px solid #a6a6a6;
  }
}
