<mat-toolbar style="height: 80px">
  <div class="container d-flex justify-content-between align-items-center">
    <span style="cursor: pointer" routerLink="/layout/home"
      >Crypto <span>₿</span></span
    >
    <mat-form-field class="mt-4">
      <mat-label>Selected Currency</mat-label>
      <mat-select name="currency" (valueChange)="onCahnges($event)">
        @for (currency of currencies; track currency) {
        <mat-option aria-selected="true" [value]="currency.value">{{
          currency.viewValue
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
